ipdb==0.13.13
setuptools==69.0.3
pillow==10.0.0
numpy==1.24.3
matplotlib==3.4.3
nltk==3.6.4
omegaconf==2.3.0
pandas==2.0.3
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1+cu113
python_dateutil==2.8.2
pytorch_lightning==1.1.4
scikit_learn==1.6.1
scikit-image==0.21.0
scipy==1.15.2
segmentation_models_pytorch==0.3.3
tensorflow==2.13.0
timm==0.9.2
tqdm==4.65.0
transformers==4.35.2
open-clip-torch==2.23.0
opencv-python==4.8.0.74
opencv-python-headless==4.11.0.86